body {
    margin: 0 0 0 0;
    background-color:rgb(242,242,242);
    color:rgb(119,119,119);
    font-family:sans-serif;
}

h1 {
    margin: 0 0 0 0;
}

html {
    height:100%;
}

#header-main {
    position: relative;
    top: 50%;
    transform: translateY(-65%);
}

#errorMessage {
    text-align:center;
    color:red;
    margin-top:100px;
}

#errorMessage>.fa{
    font-size:72px;
    margin-right:15px;
}

#errorMessage>div {
    margin-top:5px;
    font-size:18px;
    font-weight:bold;
}

#loading {
    font-size:72px;
    margin-top:100px;
    text-align:center;
}

#firstTime {
    padding:40px;
    text-align:center;
    font-size:18px;
    font-style:italic;
}

#title {
    border-bottom: 50px solid rgba(27, 80, 152, 0.901961);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 440px;
    margin:auto;
}

#title > h1 {
    font-family: 'Open Sans', open-sans, Arial, 'Helvetica Neue', sans-serif;
    padding-top:6px;
}

#author {
    position:absolute;
    right:5px;
    bottom:5px;
    background: rgba(27, 80, 152, 0.901961);
    border-radius:5px;
    padding:4px;
    font-size:18px;
}

#addressForm {
    background:rgba(0, 116, 228, 0.901961);
    border-radius:5px;
    width:550px;
    margin:auto;
    font-size:18px;
}

#addressForm>table{
    text-align:right;
    margin:auto;
    padding:10px;
}

#addressForm td {
    padding: 5px;
}

#addressForm input[type="text"] {
    border-radius:5px;
    color:rgb(51,51,51);
    -webkit-appearance:none;
    width:330px;
    font-size:18px;
    padding: 8px 0 8px 12px;
    border:none;
}

#addressForm input[type="submit"] {
    background:#74c005;
    border-radius:5px;
    height:40px;
    font-family:'Open Sans', open-sans, Arial, 'Helvetica Neue', sans-serif;
    font-size:15px;
    border:none;
    color:white;
    width:200px;
    outline:0;
    cursor:pointer;
    margin-bottom:20px;
}

#addressForm input[type="submit"]:disabled {
    background: gray!important;
    cursor:default;
    color:lightgray;
}

#addressForm input[type="submit"]:active {
    background: -webkit-linear-gradient(top, rgb(93, 153, 0), rgb(116, 192, 5));
}

#addressForm input[type="submit"]:hover {
    background: -webkit-linear-gradient(top, rgb(116, 192, 5), rgb(93, 153, 0));
}

#header
{
    position: relative;
    background: url(http://thejetlife.com/wp-content/uploads/2013/03/3-Kapalua-Place-maui-beach-house-3.jpg) no-repeat center -270px;
    background-size:cover;
    background-attachment:fixed;
    text-align: center;
    height: 450px;
    color:white;
}

div#results {
    margin:10px;
    text-align:center;
}

.result-section {
    width:300px;
    display:inline-table;
    text-align:center;
    margin:10px;
    padding:10px;
    background:white;
    border-radius:20px;
    height:250px;
}

.result-section>table {
    margin:auto;
}

.result-section>.fa {
    font-size:36px;
}
.result-section h3 {
    text-align:center;
}

.result-section tr>td:nth-child(1) {
    text-align:right;
}

.result-section tr>td:nth-child(2) {
    text-align:left;
}

/* The starting CSS styles for the enter animation */
.fade.ng-enter {
    transition:0.5s linear all;
    opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
    opacity:1;
}